*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kosugi Maru', sans-serif; /* anime font */
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

:root {
  --bg--color: #000000;
  --main-color: #dd4a4a;
  --2nd-main-color: #f5f5f5;
  --text-color: #fff;
  --box-color: #130b0b;
  --big-font: 5rem;
  --h2-font: 1.9rem;
  --p-font: 1rem;
}

body {
  background-color: var(--bg--color);
  color: var(--text-color);
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg--color);
  padding: 24px 14%;
  transition: .3s;
}

/* Navbar */
.logo {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
}

span {
  color: var(--main-color)
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  transition: .3s;
}

#menu-icon {
  font-size: 28px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* Home Section */
section {
  padding: 120px 14%;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;  
}

.home-img img {
  width: 600px;
  max-width: 100%;
  height: auto;
}

.home-text h5 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 20px;
}

.home-text h1 {
  color: var(--text-color);
  font-size: var(--big-font);
  font-weight: 700;
  margin: 0 0 20px;
  line-height: 1;
}

.home-text h6 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

/* Social Icons */
.social-icons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-icon {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 1rem;
}

.social-icon i {
  font-size: 24px;
  margin-right: 10px;
}

.social-icon:hover {
  color: var(--main-color);
}

/* Buttons */
.btn {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  display: inline-block;
  padding: 0 25px;
  line-height: 42px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  margin: 20px 0px 0px;
}

.btn:hover {
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

/* About Section */
.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5rem;
  align-items: center;
}

.about-img img {
  width: 580px;
  max-width: 100%;
  height: auto;
}

.about-text h3 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  margin: 0 0 30px;
  letter-spacing: 6px;
}

.about-text h2 {
  font-size: var(--h2-font);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  max-width: 470;
  margin-bottom: 2rem;
}

.about-text p {
  color: var(--2nd-main-color);
  font-size: var(--p-font);
  font-weight: 300;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
  max-width: 570px;
}

.main-btn .btn {
  margin-right: 20px;
}

/* Resume Section */
.resume {
  text-align: center;
}

.resume h3 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 580;
  margin: 0 0 30px;
  letter-spacing: 6px;
}

.resume h4 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 580;
  margin: 30 0 30px;
}

.resume .center {
  display: flex;
  justify-content: center;
}

.resume-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); 
  grid-gap: 3rem;
  align-items: stretch; 
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
}

.box {
  position: relative; 
  background: var(--box-color);
  padding: 40px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .40s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
  min-height: 300px; 
}

.corner-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.box h6 {
  color: #553e3e;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.box h4 {
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 13px;
}

.box p {
  font-size: var(--p-font);
  font-weight: 300;
  margin-bottom: 1.2rem;
  line-height: 1.8rem;
  color: var(--2nd-main-color);
}

.box h5 {
  font-size: 14px;
  font-weight: 500;
  color: var(--2nd-main-color);
}

.box:hover {
  transform: translate(-15px);
  box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}

/* Projects Section */
.center h3 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
}

.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Ensure equal sizing */
  grid-gap: 2rem;
  align-items: stretch; /* Stretch rows to have equal height */
  margin-top: 4.4rem;
}

.row {
  background: var(--box-color);
  padding: 0; /* Remove padding to avoid affecting image layout */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
  overflow: hidden; /* Ensure content fits within the border-radius */
  display: flex;
  flex-direction: column;
  height: 450px; /* Set a fixed height to ensure consistency */
  box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 30%); /* Add a subtle box shadow */
}

.row img {
  width: 100%;
  height: 200px; /* Set a fixed height for images */
  object-fit: cover;
  border-bottom: 2px solid var(--main-color); /* Add a border below the image */
}

.row-content {
  padding: 20px 25px; /* Add padding for text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1; /* Ensure content takes the remaining space */
}

.row-content i {
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 20px;
}

.row-content h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 10px; /* Reduce margin to fit content better */
  color: var(--text-color);
}

.row-content p {
  font-size: 16px;
  color: var(--2nd-main-color);
  line-height: 24px;
  margin-bottom: 15px; /* Reduce margin to fit content better */
}

.row:hover {
  transform: translateY(-10px); /* Reduce hover effect for more subtle animation */
  box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}


/* Contact Section */
.contact {
  text-align: center;
}

.contact-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.2rem;
}

.contact-form form {
  position: relative;
  width: 550px;
}

form input, 
form textarea {
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
  background: var(--box-color);
  color: var(--text-color);
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

form input::placeholder, 
form textarea::placeholder {
  color: var(--2nd-main-color);
}

textarea {
  height: 200px;
  resize: none;
}

form .send-btn {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  display: inline-block;
  padding: 0 25px;
  line-height: 42px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  margin-top: 5px;
}

form .send-btn:hover {
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

/* Footer */
.footer {
  text-align: center;
  padding: 30px;
  color: var(--2nd-main-color);
  background: var(--box-color);
  line-height: 1.8rem;
  margin-top: 3rem;
}

/*<---------Mobile--------->*/
/* Hamburger Menu Icon */
#menu-icon {
  font-size: 50px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* Navbar for mobile */
@media (max-width: 768px) {
  header {
      padding: 18px 3%;
  }
  #menu-icon {
      display: block;
  }
  .navbar {
      background: #130b0b;
      position: absolute;
      top: -500px;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
      text-align: left;
      transition: 0.2s ease;
  }
  .navbar a {
      display: block;
      margin: 1rem;
      padding: 1rem;
      border-left: 2px solid var(--main-color);
  }
  .navbar.active {
      top: 100%;
  }
  .home {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin-top: 80px;
      height: auto;
      text-align: center;
      padding: 50px 3%;
  }
  .home-img img {
      width: 100%;
      height: auto;
  }
  .home-text h5 {
      font-size: 20px;
  }
  .home-text h1 {
      font-size: 2.5rem;
  }
  .home-text h6 {
      font-size: 14px;
  }
  .about {
      grid-template-columns: 1fr;
      text-align: center;
      padding: 50px 3%;
  }
  .about-img-container img {
      width: 100%;
  }
  .about-text h3 {
      font-size: 22px;
  }
  .about-text h2 {
      font-size: 1.6rem;
  }
  .about-text p {
      font-size: 0.9rem;
  }
  .resume-content {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 2rem;
      margin-top: 4.4rem;
  }
  .box h4 {
      font-size: 1rem;
  }
  .box p {
      font-size: 0.8rem;
  }
  .box h5 {
      font-size: 12px;
  }
  .contact-form form {
      width: 100%;
  }
  .service-content {
      grid-template-columns: 1fr;
  }
  .row {
      padding: 30px 20px;
  }
}